#Local .env files
.env.local
# Node modules
/client/node_modules/
/server/node_modules/

# Vite cache and build output
/client/dist/
/client/.vite/
/server/static/assets/*

# TypeScript cache / build info
*.tsbuildinfo

# OS / editor cruft
.DS_Store
npm-debug.log*

# in .gitignore
embedded_data.json
# pyc files and __pycache__
*.pyc
__pycache__/