.input-bar{
    display: flex;
    position: fixed;
    bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    width: 50%;

}

.prompt-button{
    display: flex;
    position: fixed;
    bottom: 9px;
    right: 25%;
    width: 70px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    background-color: #1a1a1a;
    align-items: center;
}

.arrow{
    justify-content: center;
    width: 50px;
    height: 10px;
}