.questionmodal{
    display: flex;
    background-color: #26D4CB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2.5px gray;
    width: fit-content;
    height: fit-content;
    font-size: small;
    padding: 5%;
}

.question{

}