<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your App</title>

  <!-- point to the real CSS file -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='assets/index-DEuPkhah.css') }}"
  />
</head>
<body>
  <div id="root"></div>

  <!-- point to the real JS file -->
  <script
    type="module"
    src="{{ url_for('static', filename='assets/index-BQF67dfC.js') }}"
  ></script>
</body>
</html>
